<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
  <bean id="awsAdapterServiceBean" class="com.esri.geoevent.adapter.aws.AwsAdapterService" activation="eager">
    <property name="bundleContext" ref="blueprintBundleContext"/>
  </bean>
  <service id="awsAdapterService" ref="awsAdapterServiceBean" interface="com.esri.ges.adapter.AdapterService"/>
</blueprint>