<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="AwsIoTHubInboundTransportServiceBean" class="com.esri.geoevent.transport.aws.AwsIoTHubInboundTransportService" activation="eager">
    <property name="bundleContext" ref="blueprintBundleContext" />
  </bean>
  <service id="AwsIoTHubInboundTransportService" ref="AwsIoTHubInboundTransportServiceBean" interface="com.esri.ges.transport.TransportService" />

  <bean id="AwsIoTHubOutboundTransportServiceBean" class="com.esri.geoevent.transport.aws.AwsIoTHubOutboundTransportService" activation="eager">
    <property name="bundleContext" ref="blueprintBundleContext" />
  </bean>
  <service id="AwsIoTHubOutboundTransportService" ref="AwsIoTHubOutboundTransportServiceBean" interface="com.esri.ges.transport.TransportService" />

</blueprint>